/* Header Design and Formatting*/

header {
  overflow: hidden; /* Hide content that is not within the headers box */
}

#headerBar {
  display: flex;
  justify-content: space-between; /* Spread evenly between first and last element*/
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/justify-content*/
  align-items: center; /* Center vertically */
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/align-items*/
  padding: 20px; /* Add padding for headerBar by putting space around it*/
}

/* Logo Design And Formatting */
#logo {
  margin-right: 20px; /* Create space to its right*/
    /*https://developer.mozilla.org/en-US/docs/Web/CSS/margin*/
  flex-shrink: :0;
    /*https://developer.mozilla.org/en-US/docs/Web/CSS/flex-shrink*/
}

#logo img {
  max-width: 700px; /* Prevent from being over certain length */
    /*https://developer.mozilla.org/en-US/docs/Web/CSS/max-width*/
  max-height: 600px; /* Prevent from being over certain length*/
    /*https://developer.mozilla.org/en-US/docs/Web/CSS/max-height*/
  height: auto; /* Will allow to be proportional */
  width: auto; /* Will allow to be proportional*/
}

/* Bar Design and Formatting */
#menubar {
  flex: 1; /* Menu bar needs to change spacing tofit, this will allow it to do so*/
    /*https://developer.mozilla.org/en-US/docs/Web/CSS/flex*/
  display: flex; /* Distrubute evenly for space and alignment*/
    /*https://developer.mozilla.org/en-US/docs/Web/CSS/display*/
  justify-content: flex-end; /* Aligns menu items to the right */
}

#menubar ul {
  display: flex; /* Distribute evenly for spave and alignment (in this case in a row)*/
  align-items: center; /* Center vertically on the menu*/
  padding: 0; /* Remove padding */
  margin: 0; /* Remove padding */
  list-style: none; /* Remove the default list style*/
    /*https://developer.mozilla.org/en-US/docs/Web/CSS/list-style*/
  background: none; /* Make sure there is no background*/
}

#menubar li {
  padding: 0 10px; /* Adding padding to each item in the list (this adds padding horizontially) */
}

#menubar li a {
  padding: 0.5em 1em; /* Adds padding for the clickable aread */
  text-decoration: none; /* Removes the underline when you click */
    /*https://developer.mozilla.org/en-US/docs/Web/CSS/text-decoration*/
  font-weight: 600; /* Bold Link Text */
  color: #000000; /* Make text white */
  background-color: #ffcb08;  /* Set background color to SU colros */
  margin: 0 10px; /* Add margin to spave out the links */
}

#menubar li a:hover {
  color: #000000; /* When you hover over link, but it black*/
  background-color: #FFF; /* When you hover over, chnage the background to white*/
}

/* Header Image (SU Pic)*/

#headerimage{
  margin-top: 20px; /* Add a margin to the top of the header image to space it*/
}

#headerimage img{
  width: 100%; /* Stretch image to the full width of the container*/
  height: auto; /* Scale height to keep aspect ratio*/
}

/* Default CSS Styling and Formatting */
html, body {
  height: 100%; /* Set height to the height of the HTML page*/
}

body {
  margin: 0; /*  Remove the margin to keep edge with page*/
  padding: 0; /* Remove the padding to keep edge with page*/
  background: #FFFFFF; /* Set the background color to white*/
  font-family: 'lustria'; /* Use hte font lustria for text*/
  font-size: 12pt; /* Keep font at 12pt*/
}

h1, h2, h3 {
  margin: 0; /* Remove defualt margins*/
  padding: 0; /* Remove padding*/
  color: black; /* Set default color of headings to black*/
}

h1{
  text-align: center; /* Center the text */
  margin-top: 20px; /* Add margin to depetrate h1 from the elements that are above it*/
}
p, ol, ul {
  margin-top: 0; /* Reset the margin for paragrpahs and lists to keep consistent */
}

p {
  line-height: 180%; /* Increase the space between lines for paragraphs*/
}

ol, ul {
  padding: 0; /* Remove padding for lists*/
  list-style: none; /* Remove defaul list item look to keep same*/
}

.container {
  margin: 0 auto; /* Center container with the main element */
  width: 1200px; /* Fixed wdith for a container*/
}


/*Making Webpage Responsive*/

@media (max-width: 700px){
  #headerBar{

  }
  
  #logo{

  }

  #menubar{

  }

  #menubar ul{

  }

  #menubar li a{

  }
}