<html>

<head>
<title>

    Pyscript : Show Table in Browser
    
</title>

 <!-- Pyscript -->
    <script defer src="https://pyscript.net/alpha/pyscript.js"></script>
    <link rel="stylesheet" href="https://pyscript.net/alpha/pyscript.css" />
    <!--<link rel="stylesheet" type="text/css" href="df_style.css"/>-->
    

<!---pyodide--> 

<py-env>
    - pandas
</py-env>

</head>

<body>
    
   <center> <b>DuMmY CSV TeSt</b></center>	

  

    <py-script>

        import pandas as pd 
        link_data = https://raw.githubusercontent.com/MuellMark/Course-Scheduler/tree/Colby/HTML%20templates/css testing/csv_files/csTemplateCourseRestrictions.csv
        url = open_url(link_data)

        df = pd.read_csv(url)
        pyscript.write('data',df.to_html(classes="mystyle"))


    </py-script>

    
</body>
    <p id="data"></p>
</html>