/* Header Design and Formatting*/

header {
  overflow: hidden; /* Hide content that is not within the headers box */
}

#headerBar {
  display: flex;
  justify-content: space-between; /* Spread evenly between first and last element*/
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/justify-content*/
  align-items: center; /* Center vertically */
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/align-items*/
  padding: 20px; /* Add padding for headerBar by putting space around it*/
  flex-wrap: wrap;
}

/* Logo Design And Formatting */
#logo {
  margin-right: 20px; /* Create space to its right*/
    /*https://developer.mozilla.org/en-US/docs/Web/CSS/margin*/
  flex-shrink:0;
    /*https://developer.mozilla.org/en-US/docs/Web/CSS/flex-shrink*/
}

#logo img {
  max-width: 700px; /* Prevent from being over certain length */
    /*https://developer.mozilla.org/en-US/docs/Web/CSS/max-width*/
  max-height: 600px; /* Prevent from being over certain length*/
    /*https://developer.mozilla.org/en-US/docs/Web/CSS/max-height*/
  height: auto; /* Will allow to be proportional */
  width: auto; /* Will allow to be proportional*/
}

/* Bar Design and Formatting */
#menubar {
  flex: 1; /* Menu bar needs to change spacing tofit, this will allow it to do so*/
    /*https://developer.mozilla.org/en-US/docs/Web/CSS/flex*/
  display: flex; /* Distrubute evenly for space and alignment*/
    /*https://developer.mozilla.org/en-US/docs/Web/CSS/display*/
  justify-content: center; /* Aligns menu items to the right */
  align-items: center; /* Center the menu items vertically with the menu bar*/
  flex-wrap: wrap;
}

#menubar ul {
  display: flex; /* Distribute evenly for spave and alignment (in this case in a row)*/
  align-items: center; /* Center vertically on the menu*/
  padding: 0; /* Remove padding */
  margin: 0; /* Remove padding */
  list-style: none; /* Remove the default list style*/
    /*https://developer.mozilla.org/en-US/docs/Web/CSS/list-style*/
  background: none; /* Make sure there is no background*/
  flex-wrap: wrap;
}

#menubar li {
  padding: 0 10px; /* Adding padding to each item in the list (this adds padding horizontially) */
  min-width: 120px;
}

#menubar li a {
  padding: 0.5em 1em; /* Adds padding for the clickable aread */
  text-decoration: none; /* Removes the underline when you click */
    /*https://developer.mozilla.org/en-US/docs/Web/CSS/text-decoration*/
  font-weight: 600; /* Bold Link Text */
  color: #000000; /* Make text white */
  background-color: #ffcb08;  /* Set background color to SU colros */
  margin: 0 20px; /* Add margin to spave out the links */
  white-space: nowrap;
}

#menubar li a:hover {
  color: #000000; /* When you hover over link, but it black*/
  background-color: #FFF; /* When you hover over, chnage the background to white*/
}

/* Header Image (SU Pic)*/

#headerimage{
  margin-top: 0px; /* Add a margin to the top of the header image to space it*/
}

#headerimage img{
  width: 100%; /* Stretch image to the full width of the container*/
  height: auto; /* Scale height to keep aspect ratio*/
}

/* Default CSS Styling and Formatting */
html, body {
  height: 100%; /* Set height to the height of the HTML page*/
}

body {
  margin: 0; /*  Remove the margin to keep edge with page*/
  padding: 0; /* Remove the padding to keep edge with page*/
  background: #FFFFFF; /* Set the background color to white*/
  font-family: 'lustria', serif; /* Use hte font lustria for text, and if it cant, use serif*/
  font-size: 1rem; /*Use the default font size on the users setting*/
    /*https://developer.mozilla.org/en-US/docs/Web/CSS/rem*/
}

h1, h2, h3, h4{
  font-size: 1.5rem; /*Use the default font size on the users setting*/
  margin: 0; /* Remove defualt margins*/
  padding: 0; /* Remove padding*/
  color: black; /* Set default color of headings to black*/
}

h1{
  text-align: center; /* Center the text */
  margin-top: 20px; /* Add margin to depetrate h1 from the elements that are above it*/
}

h4{
  padding: 20px; /* Add margin to depetrate h1 from the elements that are above it*/
}
p, ol, ul {
  margin-top: 0; /* Reset the margin for paragrpahs and lists to keep consistent */
}

p {
  line-height: 180%; /* Increase the space between lines for paragraphs*/
}

ol, ul {
  padding: 0; /* Remove padding for lists*/
  list-style: none; /* Remove defaul list item look to keep same*/
}

.container {
  margin: 0 auto; /* Center container with the main element */
  width: 1200px; /* Fixed wdith for a container*/
}


/*Hamburger Menu*/

.hamburger{
  display: none; /* Hide the hamburger menu by default*/
  cursor: pointer; /* When hovering over, chnage the cursor to a pointer*/
  padding: 20px; /* Adding padding around the icon */
  position: absolute; /* Position the button absoueltly with its parent*/
  top: 15px; /* Position it so it is X amount of pxiels from the top*/
  right: 20px; /* Position is so it is X amount of pixels from the right*/
  z-index: 1000; /* Makes sure that the hamburger menu will stack ontop of other elements*/
    /*https://developer.mozilla.org/en-US/docs/Web/CSS/z-index*/
  color: white; /* Set color to white*/
  background-color: #ffcb08;/* Set color to SU colors*/
}

/*Button Design*/

.button-style{
  padding: 1em 1em ;
  text-decoration: none;
  font-weight: 600;
  color: #000000;
  background-color: #ffcb08;
  border: none;
  cursor: pointer;
  margin: 0 20px;
  white-space: nowrap;
}

.button-style:hover{
  color: #000000;
  background-color: #FFF;
}

.button-container{
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  margin: 20px 0;
  gap: 20px;
}

/*Making Webpage Responsive*/

@media (max-width: 750px){ /* When webpage is 750px width or less*/

  body{
    font-size: 1.1rem; /*Use the default font size on the users setting*/
  } 
  
  #headerBar{
    flex-direction: column; /* Stack vertically*/
    align-items: center; /* Center the bar horizontally*/
  }
  
  #logo img{
    margin: 0 auto; /* Center the image within the header*/
    width: auto; /* Automatically adjust the width */
    height: auto; /* Automatically adjust the width */
    max-width: 500px; /* Maximum width is 500px */
    max-height: 600px; /* Maximum height is 600px*/
  }

  .hamburger{
    display: block; /* When the conditions are met, make the hamburger menu visible*/
  }

  #menubar{
    display: flex; /* Hide menubar when hamburger menu is visible*/
  }

  #menubar ul{
    flex-direction: column; /*Stack vertically when menu is visible*/
    width: 100%; /*Set width to 100% to cover container*/
    background-color: #ffcb08; /*Set color to SU color*/
    padding: 30px; /*Add padding for menu items*/
  }

  #menubar li{
    width: 100%; /*Set width to 100% to cover container*/
  }

  #menubar li a{
    width: 100%; /*Set width to 100% to cover container*/
    text-align: center; /*Center text*/
    padding: 0; /*Remove Padding*/
    margin: 30px 10px; /*Add vertical padding*/
    color: #000000; /*Set color to black*/
    background-color: transparent; /*No background color*/
  }

  #menubar li a:hover{
    background-color: #ffcb08; /*Set background color to SU color*/
    color: #000000; /*Set text color to black*/
  }

}
