<!doctype html>

<html>
    <head>
        <!-- Recommended meta tags -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">

        <title>Simple Clock Demo</title>
        <link rel="icon" type="image/png" href="./assets/favicon.png" />
    </head>

    <body>

        <section class="pyscript">
            <div class="font-mono">
                start time: <label id="output1"></label>
            </div>
            <!-- <div id="output2" class="font-mono"></div>
            <div id="output3" class="font-mono"></div> -->

            <script type="py" src="./main.py" async></script>
        </section>
    </body>
</html>